@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
}  

body {
    overflow: hidden;
    background-color: #3DD0FF;
    z-index: 0;
}
.background {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url('images/Background.png');
    background-size: cover;
    z-index: 1;
}
