.heading {
  h2 {
    font-weight: bolder;
  }
  p {
  font-size: 1.5rem;
  }
}

#egg-normal { 
  position: absolute;
  opacity: 100%;
}

.egg {
  position: absolute;
  opacity: 0;
} 
#dave-normal {
  position: absolute;
  opacity: 100%;
}
.dave {
  position: absolute;
  opacity: 0;
}

.buttons {
  button {
    height: 50px;
    width: auto;
  }
  input {
    height: 80%;
    width: auto;
  }
}

#egg-button {
  opacity: 0;
}