.heading {
  h2 {
    font-weight: bolder;
  }
  p {
  font-size: 1.5rem;
  }
}
.egg-div {
  opacity: 100%;
}
.dragon-div {
  opacity: 0;
}

#egg-normal { 
  position: absolute;
  opacity: 100%;
  z-index: 3;
}
#egg-slightly-cracked { 
  position: absolute;
  opacity: 0;
  z-index: 2;
}
#egg-cracked { 
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.egg {
  position: absolute;
  opacity: 0;
} 
#dave-normal {
  position: absolute;
  opacity: 100%;
  z-index: 2;
}
.dave {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.buttons {
  button {
    height: 50px;
    width: auto;
  }
  input {
    height: 80%;
    width: auto;
  }
}