.heading {
  height: 120px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images {
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
// .dragon-images {
//   height: 250px;
//   width: auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.egg-div {
  height: 150px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.dragon-div {
  height: 250px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.buttons {
  height: 80px;
  width: auto;  
  position: relative;
  display: flex;
  justify-content: center;
}