@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Indie Flower", cursive;
}

body {
  overflow: hidden;
  background-color: #3DD0FF;
  z-index: 0;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("images/Background.png");
  background-size: cover;
  z-index: 1;
}

.heading h1 {
  font-weight: bolder;
  font-size: 2rem;
}
.heading h6 {
  font-size: 1.2rem;
}

.egg-div {
  opacity: 100%;
}

.dragon-div {
  opacity: 0;
}

#egg-normal {
  position: absolute;
  opacity: 100%;
  z-index: 3;
}

#egg-slightly-cracked {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

#egg-cracked {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.egg {
  position: absolute;
  opacity: 0;
}

#dave-normal {
  position: absolute;
  opacity: 100%;
  z-index: 2;
}

.dave {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

#davedead {
  margin-top: 70px;
}

.buttons button {
  height: 50px;
  width: auto;
}
.buttons input {
  height: 80%;
  width: auto;
}

.reset button {
  height: 50px;
  width: 100px;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  opacity: 0;
}

.heading {
  height: 120px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images {
  height: 270px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.egg-div {
  height: 150px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.dragon-div {
  height: 250px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.buttons {
  height: 80px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.reset {
  height: 80px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
}