@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Indie Flower", cursive;
}

.heading h2 {
  font-weight: bolder;
}
.heading p {
  font-size: 1.5rem;
}

#egg-normal {
  position: absolute;
  opacity: 100%;
}

.egg {
  position: absolute;
  opacity: 0;
}

#dave-normal {
  position: absolute;
  opacity: 100%;
}

.dave {
  position: absolute;
  opacity: 0;
}

.buttons button {
  height: 50px;
  width: auto;
}
.buttons input {
  height: 80%;
  width: auto;
}

#egg-button {
  opacity: 0;
}

.heading {
  height: 80px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images-div {
  height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.egg-images {
  height: 200px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dragon-images {
  height: 250px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  height: 80px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
}