@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Conqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  font-family: "Indie Flower", cursive;
}

body {
  margin: 0;
  background-color: #83caec;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -120;
}

#c {
  position: relative;
  z-index: -100;
}

.heading h1 {
  font-weight: bolder;
  font-size: 2rem;
}
.heading h6 {
  font-size: 1.2rem;
}

.egg-div {
  opacity: 100%;
}
.egg-div .egg {
  position: absolute;
  opacity: 0;
}
.egg-div #egg-normal {
  position: absolute;
  opacity: 100%;
  z-index: 3;
}
.egg-div #egg-slightly-cracked {
  position: absolute;
  opacity: 0;
  z-index: 2;
}
.egg-div #egg-cracked {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.dragon-div {
  opacity: 0;
}
.dragon-div .dave {
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.dragon-div #dave-normal {
  position: absolute;
  opacity: 100%;
  z-index: 2;
}
.dragon-div #davedead {
  margin-top: 70px;
}

.buttons input {
  height: 80%;
  width: auto;
  padding: 10px;
}

.reset button {
  height: 50px;
  width: 100px;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  opacity: 0;
}

.cloud-background {
  position: absolute;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  position: relative;
  height: 120px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.images {
  position: relative;
  height: 270px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: -100;
}

.egg-div {
  position: absolute;
  height: 150px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dragon-div {
  position: relative;
  height: 250px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  position: relative;
  height: 80px;
  width: auto;
  display: flex;
  justify-content: center;
}

.reset {
  position: relative;
  height: 80px;
  width: auto;
  display: flex;
  justify-content: center;
}